<div class="container" id="i18_career">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="lab.labs"></span></h1>
        </div>
    </div>
    <!-- <div class="row features-block">
        <div class="col-lg-12">
            <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
            {% for career in site.data.labs %}
            {% assign loopindex = forloop.index | modulo: 2 %}
                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon navy-bg wow rotateIn">
                        <i class="fa {{ career.icon }}"></i>
                    </div>
                    <div class="vertical-timeline-content wow {% if loopindex == 1 %} rotateInUpRight {% else %} rotateInUpLeft {% endif %}">
                        <h2><span data-i18n="career.{{ career.name.i18n }}">{{ career.name.detail }}</span></h2>
                        <img src="https://raw.githubusercontent.com/speciudea/speciudea.github.io/master/static/img/landing/{{ career.imag.detail }}" height="460" width="410" class="img-responsive" alt="">
                        <p><span data-i18n="career.{{ career.desc.i18n }}">{{ career.desc.detail }} </span></p>
                        <span class="vertical-date"><span data-i18n="career.{{ career.date.i18n }}"> {{ career.date.detail }} </span>
                        <br/> <small><span data-i18n="career.{{ career.job.i18n }}">{{ career.job.detail }}</span></small> </span>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div> -->
<center>
<iframe width="500" height="310" src="https://youtube.com/embed/jaMn3RReEBg?feature=share">
</iframe>
</center>
</div>
<div class="container" id="i18_about_me">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="about.about"></span></h1>
            <!-- <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p> -->
        </div>
    </div>
    <div class="row">
        <!-- python -->
        <div class="col-xs-2 wow fadeInLeft">
            <div class="team-member">
                <div class="vote-icon">
                    <i class="fa fa-graduation-cap"></i>
                </div>
            </div>
        </div>
        <!-- linux -->
        <div class="col-xs-2 wow fadeInLeft">
            <div class="team-member">
                <div class="vote-icon">
                    <i class="icon-shell"></i>
                </div>
            </div>
        </div>
        <!-- avatar -->
        <div class="col-xs-4">
            <div class="team-member wow zoomIn">
                <img src="static/img/landing/picture.PNG" height="310" width="310" class="img-responsive img-circle" alt="">
                <ul class="list-inline social-icon">
                </ul>
            </div>
        </div>
        <!-- html -->
        <div class="col-xs-2 wow fadeInRight">
            <div class="team-member">
                <div class="vote-icon">
                    <i class="icon-shell"></i>
                </div>
            </div>
        </div>
        <!-- docker -->
        <div class="col-xs-2 wow fadeInRight">
            <div class="team-member">
                <div class="vote-icon">
                    <i class="fa fa-graduation-cap"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg wow zoomIn">
            <p>TRANSFORMAR <br> Ponemos el agua en su lugar
                <br><br>
                <b>Pereira, Risaralda. Mnz 22 Cas 6 Piso 2 Jardin I</b>
            </p>
        </div>
    </div>
</div>
